<?xml version="1.0" encoding="UTF-8"?>
<!-- by fanjr-->
<configuration debug="false" scan="true" scanPeriod="1 seconds">
	
	<contextName>example</contextName>
    <property name="log.path" value="${user.dir}/log3.txt" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			  <level>info</level>
		</filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
   
	 <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			  <level>warn</level>
		</filter>
		<File>${log.path}</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.path}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
			<!-- 删除超过30天的日志信息 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

    <root level="WARN">
        <appender-ref ref="console" />
        <appender-ref ref="logfile" />
    </root>
	<logger name="org.springframework.web" level="INFO" />
	
	  <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
	  <springProfile name="test,dev">
		  <logger name="org.springframework.web" level="INFO">
		    	<appender-ref ref="console" />
		        <appender-ref ref="logfile" />
		    </logger>
	        <logger name="org.springboot.sample" level="INFO" >
		        <appender-ref ref="console" />
		        <appender-ref ref="logfile" />
	        </logger>
	         <!--输出sql语句-->
	        <logger name="com.example" level="debug">
		    	<appender-ref ref="console" />
		        <appender-ref ref="logfile" />
		    </logger>
	  </springProfile>
      <!-- 生产环境. -->
	  <springProfile name="prod">
	  		<logger name="org.springframework.web" level="warn">
		    	<appender-ref ref="console" />
		        <appender-ref ref="logfile" />
		    </logger>
	        <logger name="org.springboot.sample" level="warn" >
		        <appender-ref ref="console" />
		        <appender-ref ref="logfile" />
	        </logger>
	         <!--输出sql语句-->
	        <logger name="com.example" level="error">
		    	<appender-ref ref="console" />
		        <appender-ref ref="logfile" />
		    </logger>
	  </springProfile>
	   
    
		
</configuration>